@import url(https://fonts.googleapis.com/css?family=Caudex&subset=greek,latin);
body { text-align: center; }
h1 { font-family: 'Caudex', Arial, serif; font-weight: 400; }
h2 { font-family: 'Caudex', Arial, serif; font-weight: 400; }
h3 { font-family: 'Caudex', Arial, serif; font-weight: 400; }